.settings__action {
  margin-left: 8px;
  font-weight: 700;
  color: var(--color9);
  cursor: pointer;

  &:hover {
    color: var(--color33);
  }

  &::before {
    content: '•';
    margin-right: 8px;
  }
}
