.button_theme_dark.button_kind_secondary {
  background: var(--color8);
  color: var(--color20);
}

.button_theme_dark.button_kind_link {
  &:disabled,
  &:hover:disabled {
    color: var(--color6);
  }
}
