.dropdown__item {
  & > a,
  & > button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 5px 15px;
  }

  &_selectable {
    all: unset;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 10px;
    border-bottom: 1px solid #dfe2e5;
    cursor: pointer;
    white-space: nowrap;

    &:last-child {
      border-bottom: none;
    }
  }

  &_active {
    background-color: rgba(37, 156, 154, 0.6);
  }

  &_separator {
    border-bottom: 1px solid #259c9a;
    margin-bottom: 5px;
  }
}
