.dropdown__item {
  & > button,
  & > a,
  & > .dropdown {
    display: inline-block;
    text-align: left;
    padding: 5px;
  }
}

.dropdown__item_separator {
  border-bottom: 1px solid var(--color15);
  margin-bottom: 5px;
}
