.dropdown__item {
  & > button,
  & > a,
  & > .dropdown {
    display: inline-block;
    text-align: left;
    padding: 5px;
  }

  &_separator {
    border-bottom: 1px solid #259c9a;
    margin-bottom: 5px;
  }
}
