.dropdown__content {
  position: absolute;
  z-index: 20;
  outline-width: 0;
  display: none;
  top: 100%;
  left: 0;
  transform: translate(-0.5em, 5px);
  min-width: 120px;
  max-width: 260px;
  border: 2px solid var(--color15);
  border-radius: 3px;
  padding: 0 0 5px;
}
