.comment__vote {
  display: inline-block;
  width: 16px;
  height: 14px;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  background: url('comment__vote.svg') center no-repeat;
  background-size: contain;
  cursor: pointer;

  &:hover {
    background-image: url('_selected/comment__vote_selected.svg');
  }
}
