.comment__controls {
  display: inline;
  user-select: none;

  @media (hover: hover) {
    font-weight: 700;
    opacity: 0;
  }

  + .comment__controls_view_admin {
    &::before {
      content: '•';
      margin-left: 8px;
      color: #777;
    }
  }
}
