.input {
  font-size: 16px;
  font-family: inherit;
  padding: 4px 8px;
  border: 1px solid var(--color31);
  margin: 0;

  &:focus {
    box-shadow: 0 0 0 2px var(--color47);
    border-color: var(--color15);
    outline: none;
  }
}
