<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>remark42 last comments</title>

    <style>
      body {
        padding: 0;
        margin: 0;
      }

      .container {
        max-width: 400px;
        margin: 40px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="remark42__last-comments" data-max="50"></div>
    </div>

    <script>
      var remark_config = {
        site_id: 'remark',
        host: '<%= REMARK_URL %>' || window.location.origin,
        components: ['last-comments']
      };

      (function(c) {
        for (var i = 0; i < c.length; i++) {
          var d = document,
            s = d.createElement('script');
          s.src = remark_config.host + '/web/' + c[i] + '.js';
          (d.head || d.body).appendChild(s);
        }
      })(remark_config.components || ['embed']);
    </script>
    <noscript>
      Please enable JavaScript to view the comments powered by Remark.
    </noscript>
  </body>
</html>
