.raw-content_theme_light {
  & blockquote {
    border-left-color: var(--color45);
  }

  & table {
    & th,
    & td {
      border: 1px solid var(--color16);
    }

    & tr {
      background-color: var(--color6);

      &:nth-child(2n) {
        background-color: var(--color21);
      }
    }
  }

  & hr {
    border-color: var(--color21);
  }
}
