.raw-content_theme_dark {
  & blockquote {
    border-left-color: var(--color44);
  }

  & table {
    & th,
    & td {
      border: 1px solid var(--color24);
    }

    & tr {
      background-color: var(--color8);

      &:nth-child(2n) {
        background-color: var(--color23);
      }
    }
  }

  & hr {
    border-color: var(--color22);
  }
}
