.root {
  position: relative;
  display: block;
  border-style: solid;
  border-width: 6px 12px 12px 12px;
  border-radius: 2px;
}

.simple {
  border-width: 12px;
}

.typeReply {
  margin-left: 17px;

  @media (pointer: coarse) and (max-width: 768px) {
    margin-left: 0;
  }
}

.controlPanel {
  height: 30px;
  background-color: rgb(var(--secondary-background-color));
}

.fieldWrapper {
  position: relative;
}

.field {
  /* font-size * line-height * lines * vertical-padding */
  --height: calc(16px * 1.4 * 4 + 10px * 2);

  display: block;
  box-sizing: border-box;
  width: 100%;
  height: var(--height);
  min-height: var(--height);
  padding: 10px 12px;
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  border: 0;
  resize: none;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);

  &:focus {
    box-shadow: 0 0 0 2px rgba(var(--primary-color), 0.4);
    border-color: rgb(var(--primary-brighter-color));
    outline: none;
  }

  &:disabled {
    color: rgb(var(--lighter-text-color));
  }
}

.counter {
  position: absolute;
  right: 4px;
  bottom: 4px;
  font-size: 10px;
  font-weight: 700;
  color: rgb(var(--error-color));
}

.error {
  margin: 0;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 18px;
}

.actions {
  display: flex;
  align-items: center;
  padding-top: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 30px;
  gap: 12px;
}

.button {
  margin-right: 8px;
  align-self: flex-start;

  &:last-child {
    margin-right: 20px;
  }
}

.rss {
  font-size: 12px;
  line-height: 1;
}

.previewWrapper {
  overflow: hidden;
}

.preview {
  margin-top: 8px;
  padding: 7px 11px;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.2;
  border: 1px dashed;
  border-radius: 2px;
}

.markdown {
  margin-bottom: 5px;
  font-size: 12px;
}

.markdownLink {
  font-weight: 700;
  white-space: nowrap;
}

.themeDark {
  border-color: rgb(var(--secondary-background-color));
  background: rgb(var(--primary-background-color));

  & .actions {
    background: rgb(var(--secondary-background-color));
    color: rgb(var(--secondary-text-color));
  }

  & .error {
    border-top: 8px solid rgb(var(--line-color));
    background: rgb(var(--error-background));
    color: rgb(var(--error-color));
  }

  & .field {
    background: rgb(var(--primary-background-color));
    color: rgb(var(--primary-text-color));
  }

  & .preview {
    border-color: rgb(var(--primary-background-color));
    background: rgb(var(--primary-background-color));
    color: rgb(var(--primary-text-color));
  }

  & .previewWrapper {
    background: rgb(var(--secondary-background-color));
  }

  & .controlPanel {
    background-color: rgb(var(--secondary-background-color));
  }
}

.themeLight {
  border-color: rgb(var(--secondary-background-color));
  background: rgb(var(--primary-background-color));

  & .actions {
    background: rgb(var(--secondary-background-color));
    color: rgb(var(--secondary-text-color));
  }

  & .error {
    border-top: 8px solid rgb(var(--secondary-background-color));
    background: rgb(var(--error-background));
    color: rgb(var(--error-color));
  }

  & .field {
    background: rgb(var(--primary-background-color));
    color: rgb(var(--primary-text-color));
  }

  & .preview {
    border-color: rgb(var(--primary-background-color));
    background: rgb(var(--primary-background-color));
    color: rgb(var(--primary-text-color));
  }

  & .previewWrapper {
    background: rgb(var(--secondary-background-color));
  }
}
