.subscriptions {
  font-size: 12px;
  line-height: 1.5;
}

.subscriptions > div > div {
  margin: 0 0.25em;
}

.link {
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  color: var(--color9);

  &:hover {
    color: var(--color33);
  }
}
