.suggester {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  min-width: 180px;
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
  cursor: pointer;
  background: rgb(var(--primary-background-color));
  border: 1px solid rgb(var(--line-color));
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(var(--shadow-color));
}

.suggesterDark {
  background: rgb(var(--primary-background-color));
  color: rgb(var(--secondary-text-color));
  border: 1px solid rgb(var(--line-color));
}

.suggesterItem {
  display: block;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid rgb(var(--line-color));
}

.suggesterItemDark {
  border-bottom: 1px solid rgb(var(--line-color));
}

.suggesterItem:hover,
.suggesterItem[aria-selected='true'] {
  color: rgb(var(--primary-background-color));
  text-decoration: none;
  background-color: rgb(var(--primary-brighter-color));
}

.suggesterItem:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.suggesterItem:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.emojiResult {
  margin-right: 0;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  height: 20px;
  vertical-align: middle;
}
