.container {
  font-size: 14px;
  line-height: 1;
  background-color: rgb(var(--primary-color));
  color: rgb(var(--inverse-text-color));
  font-weight: 700;
  padding: 3px 4px 2px;
  border-radius: 2px;
}

:global(.dark) .container {
  background-color: rgb(var(--highlight-color));
  color: rgb(var(--primary-text-color));
}
