*.cov
.cover
target
/logs/
/target/
/var/
debug
debug.test
.vscode
.idea/
/frontend/node_modules/
/frontend/public/
/frontend/coverage
*.prof
*.test
/rest-client.env.json
.DS_Store
.mongo
remark42
/bin/
/backend/var/
compose-private-backend.yml
compose-private-frontend.yml
compose-private.yml
/backend/_example/*/vendor
backend/app/var/
