*.cov
.cover
target
/logs/
/target/
/var/
/web/
debug
debug.test
.vscode
.idea/
*.prof
*.test
/rest-client.env.json
.DS_Store
.mongo
remark42
/bin/
/backend/var/
/backend/app/var/
/backend/web/
/backend/*.html.tmpl
compose-private-backend.yml
compose-private-frontend.yml
compose-private.yml
/backend/_example/*/vendor
http-client.env.json
