.comment__link-to-parent {
  display: inline-block;
  height: 10px;
  width: 16px;
  vertical-align: -1px;
  background: url('./comment__link-to-parent.svg') center no-repeat;
  cursor: pointer;

  &:hover {
    background-image: url('./_focused/comment__link-to-parent__focused.svg');
  }
}
