.comment_view_preview {
  &,
  &.comment_theme_light,
  &.comment_theme_dark {
    font-size: 14px;
    padding-bottom: 0;

    .comment__username {
      color: #0aa;
    }

    .comment__title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #0aa;
    }

    .comment__title-link {
      color: #0aa;
      text-decoration: none;

      &:hover {
        opacity: 0.75;
      }
    }

    .comment__info {
      display: inline;
      padding-right: 0;

      &::after {
        content: ' ';
        color: #777;
      }
    }

    .comment__text {
      display: inline;
    }
  }
}
