.comment_view_preview {
  font-size: 14px;

  .comment__username {
    color: #0aa;
  };

  .comment__info {
    display: inline;
    padding-right: 0;

    &::after {
      content: ' ';
      color: #777;
    }
  }

  .comment__text {
    display: inline;
  }
}
