.comment__controls {
  display: inline;
  vertical-align: middle;
  user-select: none;
  font-size: 14px;

  @media (hover: hover) {
    opacity: 0;
    transition: opacity 0.15s;

    &:hover,
    &:focus-within {
      opacity: 1;
    }
  }
}
