.comment-form__rss-dropdown {
  text-align: left;
}

.comment-form__rss-dropdown__link {
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  color: var(--color9);

  &:hover {
    color: var(--color33);
  }
}
