:root {
  /* code-highlight */
  --chroma-bg: rgba(0, 0, 0, 0.05);
  --chroma-base: #586e75;
  --chroma-c: #7d7d7d;
  --chroma-01: #589000;
  --chroma-02: #cb4b16;
  --chroma-03: #268bd2;
  --chroma-04: #2aa198;
  --chroma-05: #859900;
  --chroma-06: #d33682;
  --chroma-07: #00aee2;

  /* Named variables */
  --font-family: system-ui;
  --primary-color: 0, 170, 170;
  --primary-brighter-color: 0, 197, 197;
  --primary-darker-color: 0, 102, 102;
  --primary-text-color: 38, 38, 38;
  --secondary-text-color: 100, 116, 139;
  --inverse-text-color: 255, 255, 255;
  --lighter-text-color: 150, 150, 150;
  --deactivated-color: 136, 136, 136;
  --primary-background-color: 255, 255, 255;
  --secondary-background-color: 238, 238, 238;
  --highlight-color: 241, 245, 249;
  --selection-color: 198, 239, 239;
  --shadow-color: 27, 31, 35, 0.15;
  --downvote-color: 204, 6, 6;
  --upvote-color: 37, 158, 6;
  --verified-color: 14, 126, 157;
  --white-color: 255, 255, 255;
  --error-color: 185, 28, 28;
  --error-background: 255, 222, 230;
  --line-color: 226, 239, 239;
  --line-brighter-color: 203, 213, 225;
  --transparent: transparent;
}

:root .dark {
  --line-color: 87, 87, 87;
  --primary-color: 0, 153, 153;
  --primary-brighter-color: 0, 170, 170;
  --primary-text-color: 241, 245, 249;
  --primary-background-color: 38, 38, 38;
  --secondary-background-color: 51, 51, 51;
  --highlight-color: 64, 64, 64;
  --secondary-text-color: 209, 213, 219;
  --error-color: 255, 160, 160
  --error-background: 103, 35, 35;
  --line-brighter-color: 136, 136, 136;
}
