.root {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  white-space: nowrap;

  &:focus {
    box-shadow: 0 0 0 2px var(--color47);
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.kindLink {
  background: transparent;
  font-weight: 600;
  color: var(--color9);

  &:hover {
    color: var(--color33);
  }

  &:disabled,
  &:hover:disabled {
    color: var(--color9);
  }
}

.kindPrimary {
  background: var(--color15);
  color: var(--color6);

  &:hover {
    background: var(--color33);
  }

  &:hover:disabled {
    background: var(--color15);
  }
}

.kindSecondary {
  background: var(--color6);
  color: inherit;

  &:hover {
    box-shadow: inset 0 0 0 2px var(--color33);
  }
}

.sizeMiddle {
  height: 2rem;
  padding: 0 12px;
}

.sizeLarge {
  height: 36px;
  padding: 0 12px;
  font-size: 16px;
}

.themeDark {
  &.kindSecondary {
    background: var(--color8);
    color: var(--color20);
  }

  &.kindLink {
    &:disabled,
    &:hover:disabled {
      color: var(--color6);
    }
  }
}
