@import '../comment.vars';

.comment__avatar {
  flex-shrink: 0;
  flex-grow: 0;
  display: inline-block;
  width: $avatarSize;
  height: $avatarSize;
  margin-right: $avatarOffset;
  border-radius: 4px;
  background: #eee;
}
