.blocked-users__action {
  margin-left: 8px;
  font-weight: 700;
  color: #0aa;
  cursor: pointer;

  @media (hover: hover) {
    opacity: 0;
  }

  &:hover {
    color: #06c5c5;
  }

  &::before {
    content: '•';
    margin-right: 8px;
  }
}
