.user-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 2px;
  background: #fff;
}
