.comment__text {
  margin-bottom: 4px;

  p {
    margin: 0;

    + p {
      margin-top: 8px;
    }

    // imported comments have br instead of p
    br {
      content: '';
      display: block;
      margin-top: 8px;
    }
  }

  a {
    color: #0aa;

    &:hover {
      color: #06c5c5;
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    max-height: 300px;
  }
}
