// TODO: add true preloader

.root_loading {
  position: relative;
  height: 3em;

  &::after {
    content: 'Loading..';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: rootLoading 1s infinite;
  }

  @keyframes rootLoading {
    0% {
      content: 'Loading..';
    }

    25% {
      content: 'Loading...';
    }

    50% {
      content: 'Loading..';
    }

    75% {
      content: 'Loading.';
    }

    100% {
      content: 'Loading.';
    }
  }
}
