<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or site.name }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or site.description }}">
  <link rel="stylesheet" href="/style.css?v={% version %}"/>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script defer>{{ js | safe }}</script>
</head>
