<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	{% if title %}
		<title>{{ title }} | {{ site.name }}</title>
	{% else %}
  	<title>{{ renderData.title or site.name }}</title>
	{% endif %}
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or site.description }}">
  <link rel="stylesheet" href="/style.css?v={% version %}"/>
	<script>{% include "inline.js" %}</script>
	{% set js %}
    {% include "script.js" %}
  {% endset %}
  <script defer>{{ js | safe }}</script>
</head>
