:root {
  --color0: #000;
  --color1: #aaa;
  --color3: #e2efef;
  --color4: #edf6f7;
  --color5: #eee;
  --color6: #fff;
  --color7: #333;
  --color8: #22201c;
  --color9: #0aa;
  --color10: #777;
  --color11: #999;
  --color12: #259e06;
  --color13: #888;
  --color14: #6a6a6a;
  --color15: #259c9a;
  --color16: #dfe2e5;
  --color17: #099;
  --color18: #383838;
  --color19: #404040;
  --color20: #ddd;
  --color21: #f6f8fa;
  --color22: #2d2d2c;
  --color23: #393734;
  --color24: #313133;
  --color25: #9a0000;
  --color26: #ffd7d7;
  --color27: #f98989;
  --color28: #672323;
  --color29: #0e7e9d;
  --color30: #cc0606;
  --color31: #c4c4c4;
  --color32: #a6a6a6;
  --color33: #06c5c5;
  --color34: #555;
  --color35: #d9d9d9;
  --color36: #505050;
  --color37: #586069;
  --color38: #ef0000;
  --color39: #8cd4d4;
  --color40: #9cdddb;
  --color41: #efefef;
  --color42: #c6efef;
  --color43: #b7dddd;
  --color44: rgba(255, 255, 255, 0.3);
  --color45: rgba(0, 0, 0, 0.1);
  --color46: rgba(27, 31, 35, 0.15);
  --color47: rgba(37, 156, 154, 0.4);
  --color48: rgba(37, 156, 154, 0.6);

  /* code-highlight */
  --chroma-bg: rgba(0, 0, 0, 0.05);
  --chroma-base: #586e75;
  --chroma-c: #7d7d7d;
  --chroma-01: #589000;
  --chroma-02: #cb4b16;
  --chroma-03: #268bd2;
  --chroma-04: #2aa198;
  --chroma-05: #859900;
  --chroma-06: #d33682;
  --chroma-07: #00aee2;
}
