.input__toolbar {
  display: block;
  float: right;
}

.input__toolbar-item {
  background: none;
  border: 0;
  color: #586069;
  display: block;
  float: left;
  padding: 4px 5px;

  &:hover {
    color: #0aa;
  }
}

.input__toolbar-icon {
  display: inline-block;
  fill: currentColor;
}

.input__toolbar-group {
  display: inline-block;
  margin-left: 20px;
}

.input__toolbar-group:first-child {
  margin-left: 0;
}
