.input__button {
  box-sizing: border-box;
  padding: 8px 12px;
  font-size: 16px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  + .input__button {
    margin-left: 8px;
  }
}
