.raw-content {
  word-break: break-word;

  p {
    margin: 0;

    + p {
      margin-top: 8px;
    }

    // imported comments have br instead of p
    br {
      content: '';
      display: block;
      margin-top: 8px;
    }
  }

  a {
    color: #0aa;

    &:hover {
      color: #06c5c5;
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
    max-height: 300px;
  }

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  blockquote {
    margin: 0;
    padding: 8px 8px 8px 24px;
    background: #fafafa;
    border-radius: 2px;

    + p {
      margin-top: 8px;
    }
  }

  th {
    text-align: left;
  }

  code {
    font-size: .85em;
  }
}
