.comment-form {
  position: relative;
  display: block;
  border-style: solid;
  border-width: 6px 12px 12px 12px;
  border-radius: 2px;
}

.comment-form__dropdown_rss {
  text-align: left;

  & .dropdown__content {
    width: 8em;
  }
}
