.suggester {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  min-width: 180px;
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
  cursor: pointer;
  background: var(--color6);
  border: 1px solid var(--color16);
  border-radius: 3px;
  box-shadow: 0 1px 5px var(--color46);
}

.suggesterDark {
  background: var(--color8);
  color: var(--color20);
  border: 1px solid var(--color7);
}

.suggesterItem {
  display: block;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid var(--color16);
}

.suggesterItemDark {
  border-bottom: 1px solid var(--color7);
}

.suggesterItem:hover,
.suggesterItem[aria-selected='true'] {
  color: var(--color6);
  text-decoration: none;
  background-color: var(--color48);
}

.suggesterItem:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.suggesterItem:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.emojiResult {
  margin-right: 0;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  height: 20px;
  vertical-align: middle;
}
