.thread > .thread {
  padding-left: 17px;
  border-left: 1px dotted rgba(0, 0, 0, 0.15);
}

.thread_level_4 .thread {
  padding-left: 5px;
}

.thread_level_5 > .thread_level_5 {
  border-left: 1px dotted rgba(0, 0, 0, 0.08);
}
