.comment__verification {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  vertical-align: middle;
  background: url('./comment__verification.svg') center no-repeat;
  background-size: cover;

  &:hover {
    opacity: 0.75;
  }
}
