.comment {
  display: block;
  padding: 12px 0 8px;
  font-size: 16px;
  line-height: 1.2;

  @media (hover: hover) {
    &:hover {
      > .comment__body .comment__actions .comment__controls {
        opacity: 1;
      }
    }
  }
}

.comment_level_6 {
  .comment__text,
  .comment__actions {
    padding-left: 0;
  }
}
