.comment {
  display: block;
  position: relative;
  //overflow: hidden;
  padding: 12px 0 8px;
  font-size: 16px;
  line-height: 1.2;

  @media (hover: hover) {
    &:hover {
      > .comment__body .comment__actions .comment__controls {
        opacity: 1;
      }
    }
  }
}
