.comment {
  display: block;
  padding: 12px 0 8px;
  font-size: 16px;
  line-height: 1.2;
  transition: background 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover {
      & > .comment__body .comment__actions .comment__controls {
        opacity: 1;
      }
    }
  }
}

.comment_level_6 {
  & .comment__text,
  & .comment__actions {
    padding-left: 0;
  }
}

.comment-form_type_reply {
  margin-left: 17px;

  @media (-moz-touch-enabled: 1) and (max-width: 768px), (pointer: coarse) and (max-width: 768px) {
    margin-left: 0;
  }
}
