/* stylelint-disable no-descending-specificity */
.input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(var(--line-color));
  border-radius: 4px;
  margin: 0;
  padding: 0 8px;
  height: 36px;
  font-size: 16px;
  font-family: inherit;
  background-color: rgb(var(--primary-background-color));
  color: rgb(var(--primary-text-color));

  &:hover {
    border-color: rgb(var(--line-brighter-color));
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(var(--primary-color), 0.4);
    border-color: rgb(var(--primary-brighter-color));
    outline: none;
  }

  &:disabled {
    background-color: rgb(var(--line-brighter-color));
    border-color: rgb(var(--line-color));
  }

  &::placeholder {
    color: rgb(var(--lighter-text-color));
    -webkit-text-fill-color: rgb(var(--lighter-text-color));
  }
}

.input:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgb(var(--primary-background-color)) inset;
  -webkit-text-fill-color: rgb(var(--primary-text-color));

  &:focus {
    box-shadow: 0 0 0 1000px rgb(var(--white-color)) inset, 0 0 0 2px rgba(var(--primary-color), 0.4);
  }

  &::placeholder {
    -webkit-text-fill-color: rgb(var(--lighter-text-color));
  }
}

:global(.dark) {
  & .input {
    background-color: rgb(var(--secondary-background-color));
    color: rgba(var(--white-color), 0.8);

    &:focus {
      border-color: rgb(var(--primary-brighter-color));
      box-shadow: 0 0 0 2px rgba(var(--primary-color), 0.4);
    }

    &::placeholder {
      color: rgba(var(--white-color), 0.2);
    }
  }

  & .input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgb(var(--secondary-background-color)) inset;
    -webkit-text-fill-color: rgba(var(--white-color), 0.8);

    &:focus {
      box-shadow: 0 0 0 1000px rgb(var(--secondary-background-color)) inset, 0 0 0 2px rgba(var(--primary-color), 0.4);
      -webkit-text-fill-color: rgba(var(--white-color), 0.8);
    }

    &::placeholder {
      -webkit-text-fill-color: rgba(var(--white-color), 0.4);
    }
  }
}

.invalid {
  &,
  &:hover,
  &:focus {
    border-color: rgb(var(--error-color));
    box-shadow: 0 0 0 2px rgb(var(--error-background));
  }
}
