.root_theme_light {
  color: var(--color0);

  & .root__copyright {
    color: var(--color1);
  }

  & .root__copyright-link {
    color: var(--color1);
  }

  & .root__pinned-comment {
    border-bottom-color: var(--color3);
  }

  & .root__pinned-comments {
    background: var(--color4);
  }
}
