.remark42 {
  &__comment {
    display: flex;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;

    + .remark42__comment {
      margin-top: 24px;
    }

    &_level {
      @for $i from 1 through 5 {
        &_#{$i} {
          margin-left: $i * 24px;
        }
      }
    }

    &_view_admin {
      .remark42__username {
        font-weight: 700;
        color: #ff4700;
      };
    }
  }

  &__info {
    margin-bottom: 4px;
  }

  &__text {
    p {
      margin: 0;

      + p {
        margin-top: 5px;
      }
    }
  }

  &__username {
    text-decoration: none;
    color: #19f;
  }

  &__score {
    margin-left: 8px;
    font-size: 14px;
    color: #666;
  }

  &__score-sign {
    vertical-align: 1px;
  }

  &__time {
    margin-left: 8px;
    font-size: 14px;
    color: #666;
  }

  &__vote {
    display: inline-block;
    border-top: 9px solid #ccc;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    font-size: 0;
    line-height: 0;

    // TODO: add mod for selected

    &:hover {
      border-top-color: #19f;
    }

    &_type_up {
      transform: scale(1, -1);
    }

    &_type_down {
    }
  }

  &__avatar {
    flex-shrink: 0;
    flex-grow: 0;
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    border-radius: 4px;
    background: #eee;
  }
}
