.comment__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 20px;
  margin-bottom: 12px;
  padding-right: 84px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}
