pre {
  color: var(--chroma-base);
  background-color: var(--chroma-bg);

  /* Comments */
  & .c1,
  & .cm,
  & .c,
  & .ch,
  & .cp,
  & .cpf,
  & .cs {
    color: var(--chroma-c);
  }

  & .ge {
    font-style: italic;
  }

  & .gr,
  & .gs {
    font-weight: 700;
  }

  & .kd {
    color: var(--chroma-07);
  }

  & .kn,
  & .k,
  & .kc,
  & .kp,
  & .kr,
  & .kt,
  & .ow {
    color: var(--chroma-01);
  }

  & .nb,
  & .nc {
    color: var(--chroma-02);
  }

  & .bp,
  & .n,
  & .na,
  & .fm,
  & .nd,
  & .ne,
  & .nf,
  & .ni,
  & .nl,
  & .nn,
  & .no,
  & .nt,
  & .nv,
  & .nx,
  & .py,
  & .vc,
  & .vg,
  & .vi,
  & .vm {
    color: var(--chroma-03);
  }

  & .dl,
  & .il,
  & .l,
  & .ld,
  & .m,
  & .mb,
  & .mf,
  & .mh,
  & .mi,
  & .mo,
  & .s,
  & .s1,
  & .s2,
  & .sa,
  & .sb,
  & .sc,
  & .sd,
  & .se,
  & .sh,
  & .si,
  & .sr,
  & .ss,
  & .sx {
    color: var(--chroma-04);
  }

  & .g,
  & .gd,
  & .ge,
  & .gh,
  & .gi,
  & .gl,
  & .go,
  & .gp,
  & .gr,
  & .gs,
  & .gt,
  & .gu {
    color: var(--chroma-06);
  }
}
