.comment__control_block {
  position: relative;
  white-space: nowrap;
  font-weight: 700;
  &::after {
    content: '▾';
    margin-left: 2px;
  }
}

.comment__control_block__select {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}