@import 'common/variables';

.comment {
  position: relative;
  overflow: hidden;
  margin-bottom: $offset / 2;
  font-size: 16px;
  line-height: 1.2;

  @media (hover: hover) {
    &:hover {
      .comment__controls {
        opacity: 1;
      }
    }
  }
}
