.comment {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fcfcfc;
  font-size: 16px;
  line-height: 1.2;

  @media (hover: hover) {
    &:hover {
      .comment__controls {
        opacity: 1;
      }
    }
  }
}
