.input_theme_light {
  border-color: #eee;
  background: #fff; /* try to fix textarea blinking in Safari */

  .input__actions {
    background: #eee;
  }

  .input__button_type_preview {
    background: #fff;
    color: #000;
  }

  .input__button_type_send {
    color: #fff;
  }

  .input__error {
    border-top: 8px solid #eee;
    background: #ffd7d7;
    color: #9a0000;
  }

  .input__field {
    background: #fff;
    color: #000;
  }

  .input__preview {
    border-color: #eee;
    background: #fff;
    color: #333;
  }

  .input__preview-wrapper {
    background: #eee;
  }
}
