$step: 24px;

@for $i from 1 through 5 {
  .comment_level {
    &_#{$i} {
      padding-left: $i * $step;

      &.comment_replying {
        .comment__input {
          @media (hover: none) and (max-width: 768px) {
            margin-left: -$i * $step;
          }
        }
      }
    }
  }
}
