.comment-form__toolbar {
  display: block;
  float: right;
}

.comment-form__toolbar-file-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.comment-form__toolbar-item {
  background: none;
  border: 0;
  color: var(--color37);
  display: flex;
  float: left;
  height: 24px;
  width: 24px;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--color9);
  }
}

.comment-form__toolbar-icon {
  display: inline-block;
  fill: currentColor;
}

.comment-form__toolbar-group {
  display: inline-block;
  margin-left: 20px;
}

.comment-form__toolbar-group:first-child {
  margin-left: 0;
}
