.comment__action_type_collapse {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 68px;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    border-color: #0aa;
    color: #0aa;
  }

  &.comment__action_selected {
    &:hover {
      background: #0aa;
    }
  }
}
