.comment_collapsed {
  padding: 12px 0 12px 28px;

  > .comment__body {
    .comment__text,
    .comment__actions {
      display: none;
    }
  }
  .comment__info {
    margin-bottom: 0;
    opacity: 0.8;
  }
  .comment__avatar {
    width: 20px;
    height: 20px;
    opacity: 0.6;
  }

  .comment__username,
  .comment__time {
    font-style: italic;
  }

  .comment__score {
    top: 2px;
  }
}
