.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  font-weight: bold;
}

.rootFocused {
  box-shadow: 0 0 0 2px rgba(var(--primary-color), 0.4);
  outline: none;
}

.select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.arrow {
  margin-left: 0.4em;
}
