.auth-panel-anonymous-login-form {
  padding: 0.5em 0.7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.auth-panel-anonymous-login-form__input {
  width: 9em;
}

.auth-panel-anonymous-login-form__remember-me {
  display: none;
}

.auth-panel-anonymous-login-form__submit {
  margin-left: 0.5em;
}
