.comment__action {
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  color: #8CD4D4;

  &:hover {
    color: #0aa;
  }

  &:focus {
    outline: none;
  }

  + .comment__controls {
    &::before {
      content: '•';
      margin-left: 8px;
      margin-right: 8px;
      color: #777;
    }
  }
}
