.comment_replying {
  border: 8px solid #eee;
  padding-bottom: 0;

  @media (min-width: 768px) {
    border: 0;
    padding-top: 0;
  }

  .comment__body {
    padding: 8px 8px 0;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  .comment__input {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 8px;

    @media (min-width: 768px) {
      border: 12px solid #eee;
    }
  }

  .comment__score {
    top: 12px;
    right: 8px;

    @media (min-width: 768px) {
      top: 4px;
      right: 0;
    }
  }
}
