{{ define "main" }}
<article class="page">
  <header class="page__header">
    <h1 class="page__title" id="{{ .Title | anchorize }}">{{ .Title }}</h1>
    {{ with .Description }}<p class="page__description">{{ . }}</p>{{ end }}
  </header>
  <div class="prose">{{ .Content }}</div>
  <div id="remark42" class="demo-widget"></div>
  <noscript>You use your browser with disabled JavaScript. Please enable JavaScript for comments.</noscript>
  <script>
    window.remark_config = {
      host: {{ site.Params.remark42Host }},
      site_id: 'remark',
      components: ['embed'],
      url: {{ .Permalink }},
      max_shown_comments: 20,
      theme: document.documentElement.classList.contains('dark') ? 'dark' : 'light'
    }
  </script>
  <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),d=n.head||n.body;r.type="module",r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+".mjs",d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
</article>
{{ end }}
