<div class="table-wrapper">
  <table>
    {{- with .THead }}
      <thead>
        {{- range . }}
          <tr>
            {{- range . }}
              <th{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>{{ .Text }}</th>
            {{- end }}
          </tr>
        {{- end }}
      </thead>
    {{- end }}
    {{- with .TBody }}
      <tbody>
        {{- range . }}
          <tr>
            {{- range . }}
              <td{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>{{ .Text }}</td>
            {{- end }}
          </tr>
        {{- end }}
      </tbody>
    {{- end }}
  </table>
</div>
