.raw-content_theme_light {
  blockquote {
    border-left-color: rgba(0, 0, 0, 0.1);
  }

  table {
    th,
    td {
      border: 1px solid #dfe2e5;
    }

    tr {
      background-color: #fff;

      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }
  }

  hr {
    border-color: #f6f8fa;
  }
}
