<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Delete Me</title>
    <base target="_blank" />
    <style>
      /* stylelint-disable mavrin/stylelint-declaration-use-css-custom-properties */
      html,
      body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      @keyframes bouncing {
        0%,
        80%,
        100% {
          box-shadow: 0 10px 0 -8px;
        }

        40% {
          box-shadow: 0 10px 0 0;
        }
      }

      .preloader,
      .preloader::before,
      .preloader::after {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        animation: bouncing 1.8s infinite ease-in-out;
        animation-fill-mode: both;
      }

      .preloader {
        color: #fff;
        position: relative;
        transform: translateZ(0);
        animation-delay: -0.16s;
      }

      .preloader::before,
      .preloader::after {
        content: '';
        position: absolute;
        top: 0;
      }

      .preloader::before {
        transform: translateX(-15px) translateZ(0);
        animation-delay: -0.32s;
      }

      .preloader::after {
        transform: translateX(15px) translateZ(0);
      }

      .preloader_view_iframe {
        margin: 0 auto;
        color: #888;
      }
    </style>
  </head>
  <body>
    <div id="remark42">
      <div class="preloader preloader_view_iframe"></div>
    </div>
    <script>
      var remark_config = { host: '<%= htmlWebpackPlugin.options.REMARK_URL %>' };
    </script>
  </body>
</html>
