---
layout: base.njk
---

<h1 class="m-auto text-center relative">
	<div class="text-9xl md:text-[200px] font-black mb-4 text-gray-100">404</div>
	<div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 whitespace-nowrap text-4xl font-bold text-gray-800">Page Not Found</div>
</h2>
