<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="h-screen bg-white dark:bg-trueGray-900 dark:text-gray-100">
		{% include "components/header.njk" %}
		<main id="main" class="relative mt-24 md:mt-20 container flex-grow min-h-full flex flex-wrap">
			{{ layoutContent | safe }}
		</main>
		{% include "components/footer.njk" %}
  </body>
</html>
