---
layout: page.njk
---

{{ content | safe }}

<div id="remark42" class="max-w-2xl m-auto"></div>
<noscript>You use your browser with disabled JavaScript. Please enable JavaScript for comments.</noscript>
<script>
	window.remark_config = {
		host: '{{ site.remark42Host }}',
		site_id: 'remark',
		components: ['embed'],
		url: '{{ site.url }}/{{ permalink }}',
		max_shown_comments: 20,
	}
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
