<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url='{{ destination }}'" />
</head>
<body>
	you should be redirecting to <a href="{{ destination }}">{{ destination }}</a>
</body>
</html>
