.root {
  position: relative;

  &::selection {
    background: rgb(var(--selection-color));
  }
}

.input {
  margin-top: 4px;
}

.pinnedComment {
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.pinnedComments {
  margin-top: 20px;
  padding: 0 12px 12px;
  border-radius: 2px;
}

.preloader {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.threads {
  margin-top: 4px;
}

.copyright {
  margin: 24px 0 0;
  font-size: 12px;
  text-align: right;
}

.sortPicker {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  font-size: 14px;
}

.moreComments {
  display: block;
  max-width: 320px;
  margin: 20px auto;
}

.themeDark {
  color: rgb(var(--primary-text-color));

  & .copyright {
    color: rgb(var(--lighter-text-color));
  }

  & .copyrightLink {
    color: rgb(var(--primary-text-color));
  }

  & .pinnedComment {
    border-bottom-color: rgb(var(--line-color));
  }

  & .pinnedComments {
    background: rgb(var(--highlight-color));
  }
}

.themeLight {
  color: rgb(var(--primary-text-color));

  & .copyright {
    color: rgb(var(--lighter-text-color));
  }

  & .copyrightLink {
    color: rgb(var(--primary-text-color));
  }

  & .pinnedComment {
    border-bottom-color: rgb(var(--line-color));
  }

  & .pinnedComments {
    background: rgb(var(--highlight-color));
  }
}
