.root_theme_dark {
  color: #ddd;

  .root__copyright {
    color: #aaa;
  }

  .root__copyright-link {
    color: #aaa;
  }

  .root__pinned-comment {
    border-bottom-color: #383838;
  }

  .root__pinned-comments {
    background: #404040;
  }
}
