.comment__action {
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  color: #259c9a;

  &:hover {
    color: #31c7c5;
  }

  + .comment__action {
    margin-left: 8px;
  }

  + .comment__controls {
    &::before {
      content: '•';
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
