.comment_theme_dark {
  .comment__action_type_collapse {
    border-color: #555;
    color: #555;

    &.comment__action_selected {
      background: #555;
      color: #22201c;
    }
  }

  .comment__action_type_delete {
    color: #6a6a6a;
  }

  .comment__action_type_edit {
    color: #6a6a6a;
  }

  .comment__action {
    + .comment__controls {
      &::before {
        color: #eee;
      }
    }
  }

  .comment__control_view_inactive {
    &,
    &:hover,
    &:focus {
      color: #999;
    }
  }

  .comment__edit-timer {
    color: #a6a6a6;
    + .comment__controls {
      &::before {
        color: #eee;
      }
    }
  }

  .comment__score {
    color: #c4c4c4;
  }

  .comment__score_view_negative {
    color: #cc0606;
  }

  .comment__score_view_positive {
    color: #259e06;
  }

  .comment__status {
    color: #999;
  }

  .comment__time {
    color: #999;
  }

  .comment__user-id {
    color: #888;
  }

  .comment__username {
    color: #777;
  }

  &.comment_editing {
    .comment__input {
      border-color: #333;
    }

    @media (-moz-touch-enabled: 1) and (max-width: 768px), (pointer: coarse) and (max-width: 768px) {
      border-color: #333;
    }
  }

  &.comment_replying {
    .comment__input {
      border-color: #333;
    }

    @media (-moz-touch-enabled: 1) and (max-width: 768px), (pointer: coarse) and (max-width: 768px) {
      border-color: #333;
    }
  }

  &.comment_view_preview {
    .comment__info {
      &::after {
        color: #777;
      }
    }
  }

  & ~ .thread {
    border-left-color: rgba(255, 255, 255, 0.35);
  }
}
