.comment__link-to-parent {
  display: inline-block;
  height: 12px;
  width: 16px;
  margin-left: 8px;
  vertical-align: -2px;
  background: url('comment__link-to-parent.svg') center no-repeat;
  cursor: pointer;

  &:hover {
    background-image: url('./_focused/comment__link-to-parent__focused.svg');
  }
}
