.auth-panel__pseudo-link {
  display: inline-block;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  /* important so "anonymous" label in Dropdown component
	will not be overriden by `.dropdown_theme_light .dropdown__title` style */
  color: #0aa !important;

  &:hover {
    color: #06c5c5 !important;
  }
}
