.button_kind_link {
  background: transparent;
  font-weight: bold;
  color: var(--color9);

  &:hover {
    color: var(--color33);
  }

  &:disabled,
  &:hover:disabled {
    color: var(--color9);
  }
}
