.comment__action_type_collapse {
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #ddd;

  &:hover {
    border-color: #0aa;
    color: #0aa;
  }

  &.comment__action_selected {
    background: #ddd;
    color: #fff;

    &:hover {
      background: #0aa;
    }
  }
}
