.input {
  $lineHeight: 1.4;
  $fontSize: 16px;
  $paddingVrt: 10px;
  $height: $fontSize * $lineHeight + $paddingVrt * 2;

  box-sizing: border-box;
  width: 100%;
  height: $height;
  min-height: $height;
  padding: $paddingVrt 15px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: $fontSize;
  line-height: $lineHeight;
  box-shadow: 0 0 0 1px #eee;
  border: 0;
  border-radius: 4px;
  resize: none;

  &:focus {
    box-shadow: 0 0 0 1px #aaa;
    outline: none;
  }
}
