.root_theme_light {
  color: #000;

  .root__copyright {
    color: #aaa;
  }

  .root__copyright-link {
    color: #aaa;
  }

  .root__pinned-comment {
    border-bottom-color: #e2efef;
  }

  .root__pinned-comments {
    background: #edf6f7;
  }
}
