name: frontend

on:
  pull_request:
    paths:
      - '.github/workflows/ci-frontend-size-limit.yml'
      - 'frontend/**'

jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v1
      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          directory: frontend
