.comment-form_theme_dark {
  border-color: var(--color7);
  background: var(--color8); /* try to fix textarea blinking in Safari */

  & .comment-form__actions {
    background: var(--color7);
  }

  & .comment-form__button_type_preview {
    background: var(--color8);
    color: var(--color20);
  }

  & .comment-form__button_type_send {
    color: var(--color20);
  }

  & .comment-form__error {
    border-top: 8px solid var(--color7);
    background: var(--color28);
    color: var(--color27);
  }

  & .comment-form__field {
    background: var(--color8);
    color: var(--color5);
  }

  & .comment-form__preview {
    border-color: var(--color8);
    background: var(--color8);
    color: var(--color20);
  }

  & .comment-form__preview-wrapper {
    background: var(--color7);
  }

  & .comment-form__toolbar-item {
    color: var(--color20);

    &:hover {
      color: var(--color9);
    }
  }

  & .comment-form__control-panel {
    background-color: var(--color7);
  }
}
