<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>remark42</title>

  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .container {
      margin: 40px;
      border: 1px solid #f00000;
    }
  </style>
</head>
<body>
  <div class="container">
    <div id="remark42"></div>
  </div>
</body>
</html>
