<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>remark42 last comments</title>

  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .container {
      max-width: 400px;
      margin: 40px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="remark42__last-comments" data-max="50"></div>
  </div>

  <script>
    var remark_config = {
      site_id: 'radiot',
    };

    (function() {
      var d = document, s = d.createElement('script');
      var baseurl = '';
      s.src = baseurl + '/web/last-comments.js';
      s.type = 'text/javascript';
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>
    Please enable JavaScript to view the comments powered by Remark.
  </noscript>
</body>
</html>
