.root__show-more {
  display: block;
  width: 300px;
  max-width: 100%;
  height: 36px;
  margin: 20px auto;
  padding: 0;
  background: #259c9a;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  line-height: 36px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;

  &:hover,
  &:focus {
    background: #0aa;
  }
}
