.root_theme_dark {
  color: var(--color20);

  & .root__copyright {
    color: var(--color1);
  }

  & .root__copyright-link {
    color: var(--color1);
  }

  & .root__pinned-comment {
    border-bottom-color: var(--color18);
  }

  & .root__pinned-comments {
    background: var(--color19);
  }
}
